#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('../../public/images/lantern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

#contact .card-header p,
#contact .list-group-item p {
    color: #171717;
}

#contact .list-group-item-action.active p {
    color: white;
}

#contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5.5rem 3rem;
    transition: all 0.8s linear;
    color: white;
    backdrop-filter: blur(10px);
    gap: 0;
}

@media (min-width: 768px) {
    #contactContent {
        padding: 10rem;
        width: 90%;
    }

    #contact-me-by {
        display: flex !important;
    }

    #linkBtn {
        display: none !important;
    }
}

#linkBtn {
    position: absolute;
    top: 6rem;
    border: 0;
    box-shadow: none;
    width: 30%;
    display: inline-block;
}

#contact-me-by {
    display: none;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#contactBox {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#contactForm div {
    display: flex;
}

#contactForm #title {
    font-weight: bold;
    font-size: 1.5rem;
}

#contactForm .form-control {
    border: 1px #FFC54D solid;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
}

#contactForm #nameEmail {
    height: 30%;
    display: flex;
}

#contactForm textarea {
    height: 15rem !important;
}

#contactForm .btn {
    width: 60%;
    backdrop-filter: blur(12px);
}