.footer {
    width: 100%;
    color: white;
    height: 4rem;
    justify-content: end;
    cursor: default;
    opacity: 0;
    transition: all 2s ease-out;

}

.footer #footerDiv {
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: right;
}

#scrollTopBtn {
    position: fixed;
    right: 1.4rem;
    bottom: 6rem;
    width: 45px;
    height: 45px;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 50%;
    background-color: #FFC54D;
}

#scrollTopBtn:active {
    border: 2px white solid;
}