.footer {
    position: absolute;
    bottom: 0;
    transition: all 2.5s ease-out 1s;
    height: 0;
    display: flex;
    align-items: center;
    background-color: #171717;
    color: white;
    justify-content: end;
    cursor: default;
    z-index: 10;
}

.footer #footerDiv {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

#scrollTopBtn {
    position: fixed;
    right: .5rem;
    bottom: 5.5rem;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 50%;
    background-color: #FFC54D;
}

#scrollTopBtn:active {
    border: 2px white solid;
}

@media (min-width: 768px) {

    #scrollTopBtn {
        right: 1.4rem;
        bottom: 6rem;
        width: 45px;
        height: 45px;
    }
}