.backgroundStudio {
  background-image: url("../img/studio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 !important;
  transition: all 2s ease-in-out;
  opacity: 0;
}

.homeContent {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.8s linear;
  backdrop-filter: blur(10px) opacity(0);
  color: white;
  opacity: 0;
  gap: 0;
  display: hidden;
}

.homeContent h1 {
  font-size: 3rem;
}

.homeContent h1 p {
  font-size: 2rem;
}