#project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('../../public/images/wolves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

#projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5.5rem 0;
    width: 90%;
    height: 90%;
    transition: all 0.8s linear;
    color: white;
}

#projectRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.projectBox {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../../public/images/wolves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(12px);
    scroll-snap-align: start;
    background-color: #171717;
    overflow: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-top: 3rem white solid;
    border-bottom: 3rem white solid;
}

#list {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../../public/images/wolves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#scrollBtn {
    position: fixed;
    right: 1rem;
    bottom: 7rem;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 50%;
    background-color: #FFC54D;
}

#scrollBtn:active {
    border: 2px white solid;
}

@media (min-width: 768px) {

    #scrollBtn {
        right: 1.4rem;
        bottom: 8rem;
        width: 45px;
        height: 45px;
    }
}

#projectImg {
    width: 100%;
    object-fit: contain;
}

#projectBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#projectSummary {
    width: 100%;
    margin: auto;
}

#projectDropdown {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    gap: .5rem;
}

#project-hash-link:hover {
    letter-spacing: 2px;
    transition: all .2s linear;
}

#linkText {
    color: #F94C66;
    font-weight: bold;
}