@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  height: 100vh;
  margin: auto;
  padding: 0 !important;
}

h1 {
  font-family: 'LeferiPoint-BlackA';
}

p {
  font-family: 'LeferiPoint-WhiteObliqueA';
  margin: 0 !important;
}

.btn {
  transition: all 0.5s ease-out !important;
}

#dropdown-title {
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: white;
  border: 0;
  font-size: x-large;
  transition: all 0.3s ease-out !important;
  background-color: inherit;
  border-radius: 0;
}

#dropdown-title:hover {
  letter-spacing: 5px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

#dropdown-title::after {
  display: none;
}

#dropdown-title:focus,
#dropdown-title:active {
  box-shadow: none;
}

.dropdown-menu.show {
  display: flex !important;
  flex-direction: row;
  /* width: max-content; */
  transform: translate(0, 4rem) !important;
}

div {
  flex-direction: column;
}

#blackScreenUp {
  top: 0;
  /* z-index: 1; */
}

#blackScreenDown {
  bottom: 0;
}

.startBtn {
  width: 120px;
  height: 120px;
  border-radius: 50% !important;
  z-index: 1;
  margin: auto;
  padding: 0 !important;

  /* text-decoration: blink; */
  animation: blinker 1s infinite ease-in-out alternate;
}

.startBtn p {
  color: #fff;
  margin: auto;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.startBtn:hover {
  background-color: #141414 !important;
  border: 3px solid rgba(255, 255, 255, .3) !important;
  border-top-color: #fff !important;
  animation: spin 1.5s ease-in-out infinite;
  box-shadow: none !important;
}

.startBtn:active,
.startBtn:focus {
  box-shadow: none !important;
  animation: none !important;
}