@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  height: 100vh;
  margin: auto;
  padding: 0 !important;
}

h1 {
  font-family: 'LeferiPoint-BlackA';
}

p {
  font-family: 'LeferiPoint-WhiteObliqueA';
  margin: 0 !important;
}

.blackScreen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  height: 50vh;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.btn {
  transition: all 0.5s ease-out !important;
}

div {
  flex-direction: column;
}

#blackScreenUp {
  top: 0;
}

#blackScreenDown {
  bottom: 0;
}

.startBtn {
  width: 120px;
  height: 120px;
  border-radius: 50% !important;
  z-index: 10;
  margin: auto;
  padding: 0 !important;

  /* text-decoration: blink; */
  animation: blinker 1s infinite ease-in-out alternate;
}

.startBtn p {
  color: #fff;
  margin: auto;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.startBtn:hover {
  background-color: #171717 !important;
  border: 3px solid rgba(255, 255, 255, .3) !important;
  border-top-color: #fff !important;
  animation: spin 1.5s ease-in-out infinite;
  box-shadow: none !important;
}

.startBtn:active,
.startBtn:focus {
  box-shadow: none !important;
  animation: none !important;
}